@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #534c49;
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

div#formulario h1, div#formulario p {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}

div#formulario h1 {
    padding-bottom: .5vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #331C13;
    width: 80vw;
    height: 70vh;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);

    transform: translate(-50%,-50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #331C13 url(../imagens/login-p.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 35%;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    padding-top: 5vh;
    text-align: center;
}

form {
    color: white;
    margin: 15px;
}
form  div.campo  label {
    display: none;
} 

span#indent {
    /* padding-left: 10px ; */
}

Form input[type=email], form input[type=password] {
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 5px;
}

form > input[type=submit] {
    display: inline-block;
    font-size: 1em;
    width: 50%;
    border-radius: 7px;
    background-color: #965F48;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
}

form > input[type=submit]:hover {
    background-color: #c28b74
}

form a.botao {
    display: block;
    font-size: .8em;
    text-decoration: none;
    color: #965F48;
}

form a.botao:hover {
    text-decoration: underline;
}

div span#mail {
    padding-top: 5px; 
    font-size: .8em;
}