@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #534c49;
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

div#formulario h1, div#formulario p {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}

div#formulario h1 {
    padding-bottom: .5vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #331C13;
    width: 80vw;
    height: 70vh;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #331C13 url(../imagens/login-p.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 20vh;
}

section > div#formulario {
    display: block;
    padding: 10px;
    padding-top: 5vh;
    text-align: center;
}